#counter {
    background-image: url(/assets/img/1342582630-i614787.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    background-attachment: fixed;
    position: relative;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.counter__container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}

.counter__container__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    line-height: 1;
}

.counter__container__box i {
    font-size: 40px;
}

.counter__container__box h4 {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 15px;
}
