body {
    margin: 0;
    padding: 0;
}
.background__paralax {
    background-image: url(/assets/img/intro-bg.jpg);
    background-repeat: none;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#header {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header__nav {
    width: 85%;
}

.header__nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    color: #ffffff;
    font-weight: bold;
}
