#screenshot {
    width: 100%;
    height: 100vh;
}

.screenshot__container {
    width: 80%;
    height: 100vh;
    margin: auto;
    text-align: center;
    color: #4c4d4d;
}

.screenshot__carrosel {
    width: 100%;
    height: auto;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 90%;
    height: 90%;
}

.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
    opacity: 1;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #cccccc;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
    color: #ffffff !important;
}

.swiper-button-prev,
.swiper-button-next {
    background-color: #ffffff;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    width: 44px !important;
    opacity: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 1rem !important;
    color: #4c4d4d;
    font-weight: 800;
}

.swiper-pagination {
    position: relative !important;
    padding-top: 20px !important;
}

.swiper-pagination-bullet {
    border: 1px solid #c6c7c8;
    background-color: transparent !important;
    width: 0.8rem !important;
    height: 0.8rem !important;
}

.swiper-pagination-bullet-active {
    background-color: #c6c7c8 !important;
}
