.about__container {
    flex-direction: column;
    margin: 120px auto 60px auto;
    color: #4c4d4d;
}

.about__container__2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto 0 auto;
    width: 100%;
    line-height: 1.8;
}

.about__image {
    width: 45%;
}

.about__aside {
    width: 45%;
}

.about__aside__title {
    font-weight: 500;
}

.about__aside__paragraph {
    font-size: 15px;
}

.about__aside__download {
    margin-top: 50px;
}

.about__aside__download__link {
    margin-right: 20px;
}
