#faq {
    width: 100%;
}

.faq {
    flex-direction: column;
    margin: auto;
    color: #4c4d4d;
}

.faq__acordion {
    width: 70%;
    margin: 20px auto;
    text-align: left;
}

.faq__hr {
    width: 100%;
    background-color: #e2d9f3;
    opacity: 0.2;
}

.faq__acordion__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.faq__acordion__button {
    color: #4c4d4d;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}

.faq__icon {
    font-size: 14px;
    transition: 0.5;
}

.faq__icon.rotate {
    transform: rotate(180deg);
    transition: 0.5s;
}

.faq__icon,
.faq__acordion__button {
    transition: color 0.3s ease;
    color: black;
}

.rotate {
    color: purple;
}

.faq__acordion__collapse {
    overflow: hidden;
    height: 0px;
}

.faq__acordion__body {
    height: 100%;
}

.faq__acordion__box__link {
    margin-top: 50px;
    font-size: 20px;
}

.faq__acordion__link {
    color: #8964cc;
}

@media (min-width: 375px) and (max-width: 1023px) {
    .faq h2 {
        text-align: center;
    }

    .faq p {
        width: 80%;
    }

    .faq__acordion {
        width: 94%;
    }

    .faq__acordion__title button {
        text-align: left;
    }

    .faq__acordion__box__link {
        text-align: center;
    }
}