.features {
    flex-direction: column;
    margin: 80px auto 60px auto;
    color: #4c4d4d;
}

.features__title {
    font-size: 35px;
}

.features__paragraph {
    font-size: 20px;
}

.features__counter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px auto 0 auto;
    width: 100%;
    gap: 40px;
}

.features__content__box {
    display: flex;
    align-items: center;
    gap: 30px;
    align-items: start;
}

.features__content__box__text h3 {
    font-weight: 500;
    font-size: 20px;
}

.end {
    text-align: end;
}

.features__content__box__icon {
    font-size: 30px;
    margin-top: 20px;
}

.features__content__box__icon i {
    background-color: #e9ecef;
    border-radius: 50%;
    padding: 15px;
}

@media (max-width: 1024px) {
    .features__counter {
        width: 96%;
    }
}

@media (min-width: 375px) and (max-width: 1023px) {
    .features h2 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .features p {
        width: 96%;
        text-align: center;
        margin-top: 5px;
    }

    .features__counter {
        flex-direction: column;
        margin-top: 0;
        gap: 0;
        align-items: center;
    }

    .features__content__box__text p {
        text-align: start;
    }

    .features__content__box.inverted {
        flex-direction: row-reverse;
    }

    .end {
        text-align: start;
    }
}
