.background__paralax {
    background-image: linear-gradient(
            rgba(74, 65, 182, 0.7),
            rgba(128, 121, 190, 0.7),
            rgba(95, 84, 155, 0.7)
        ),
        url(/assets/img/intro-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 137vh;
}

#header {
    width: 100%;
    height: 70px;
    z-index: 2;
    transition: ease-in 0.5s;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 !important;
}

.header__logo {
    margin-top: 12px;
}

.header__nav {
    width: 85%;
    height: 100%;
}

.header__nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    font-weight: 500;
    align-items: center;
    transition: flex-direction 0.3s ease-in-out;
}

.header__nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 0 5px 10px 0;
    position: relative;
    font-size: 10.5pt;
}

.header__nav ul li a:hover,
.header__nav ul li a.active {
    opacity: 0.8;
}

.header__nav ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: width 0.5s ease, left 0.5s ease;
    transition-delay: 0.1s;
}

.header__nav ul li a:hover::after {
    width: 100%;
    left: 0;
    opacity: 0.8;
}

.header__nav ul li a.active::after {
    width: 100%;
    left: 0;
    opacity: 0.8;
}

.header__nav__download {
    background-color: #ffffff;
    border-radius: 25px;
    padding: 8px 15px;
    margin-top: 0;
}

.header__nav__download a {
    color: #000000 !important;
    transition: none !important;
}

.header__nav__download a:hover {
    border-bottom: none !important;
    opacity: 1 !important;
}

.header__nav__download a::after {
    content: none !important;
}

.header__menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

.header__nav--visible {
    display: none;
    background-color: #000;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 3;
}

.header__nav--visible ul {
    flex-direction: column;
    padding: 20px;
}

.header__nav--visible ul li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
}

.header__nav--visible ul li a {
    color: #fff;
}

@media (max-width: 1024px) {
    .background__paralax {
        height: 122vh;
    }

    .header__container {
        margin-left: 20px;
    }
}

@media (min-width: 375px) and (max-width: 1023px) {
    .header__container {
        width: 90% !important;
        justify-content: space-between;
    }
    .header__nav {
        display: none;
    }

    .header__menu-icon {
        display: block;
        color: #ffffff;
    }
}
