#play {
    margin-top: 60px;
    margin-bottom: 60px;
}

.play__container {
    flex-direction: column;
    margin: 5vw auto;
    color: #ffffff;
}

.play__title {
    margin-bottom: 50px;
    font-size: 35px;
}

.features__paragraph {
    font-size: 20px;
}

.play__iframe {
    background-color: #ffffff;
    color: #404142;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.play__iframe i {
    margin-top: 20px;
}

.play__modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
}

.play__block {
    width: 400px;
    height: 400px;
}

.play__blackdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 101;
    cursor: pointer;
}

.play__hidden {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 102;
}

.play__hidden iframe {
    width: 54.5vw;
    height: 69.5vh;
    user-select: none;
    border: none;
}

.play__button {
    color: #ffffff;
    font-weight: 500;
    background: transparent;
    border: none;
    font-size: 40px;
    position: absolute;
    cursor: pointer;
    transition: ease-in 3s;
}

@media (min-width: 375px) and (max-width: 1023px) {
    #play {
        margin-top: 150px;
    }

    .play__title {
        text-align: center;
        width: 80%;
    }
}
