#screenshot {
    width: 100%;
    height: 100vh;
}

.screenshot__container {
    width: 80%;
    height: 100vh;
    margin: auto;
    text-align: center;
    color: #4c4d4d;
}

.screenshot__carrosel {
    width: 100%;
    height: auto;
}

.screenshot__swiper {
    width: 100%;
    height: 100%;
}

.screenshot__slide img {
    width: 90%;
    height: 90%;
}

.screenshot__swiper:hover .screenshot__button__next,
.screenshot__swiper:hover .screenshot__button__prev {
    opacity: 1;
}

.screenshot__button__next:hover,
.screenshot__button__prev:hover {
    background-color: #cccccc;
}

.screenshot__button__next:hover::after,
.screenshot__button__prev:hover::after {
    color: #ffffff !important;
}

.screenshot__button__prev,
.screenshot__button__next {
    background-color: #ffffff;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    width: 44px !important;
    opacity: 0;
}

.screenshot__button__prev::after,
.screenshot__button__next::after {
    font-size: 1rem !important;
    color: #4c4d4d;
    font-weight: 800;
}

.swiper-pagination {
    position: relative !important;
    padding-top: 20px !important;
}

.swiper-pagination-bullet {
    background-color: transparent !important;
    border: 2px solid #c7c8c9 !important;
    width: 0.8rem !important;
    height: 0.8rem !important;
}

.swiper-pagination-bullet-active {
    background-color: #c7c8c9 !important;
}
